<title>Add Post | GiveHub</title>
<style>
    body{
        height: 100vh;
    }
</style>

{% extends "base.html" %}

{% block content %}

<header>
	<form action="" method="post" class="login_system_forms">
		<div class="form-control">
			<label for="title">Title:</label>
			<input type="text" id="title" name="title"><br><br>
		</div>

		<div class="form-control">	
			<label for="content">Content:</label>
			<textarea id="content" name="content"></textarea><br><br>
		</div>

		<div class="form-control-group">		
			<label for="category">Category:</label><br>
			<select id="category" name="category">
				<option value="food">Food</option>
				<option value="water">Water</option>
				<option value="health">Health</option>
				<option value="education">Education</option>
				<option value="inclusion-equality">Inclusion & Equality</option>
				<option value="climate">Climate</option>
				<option value="poverty_alleviation">Poverty Alleviation</option>
				<option value="animal_welfare">Animal Welfare</option>
				<option value="anti-Inequality">Anti-Inequality</option>
				<option value="trafficking">Trafficking</option>
				<option value="slavery">Slavery</option>
				<option value="other">Other</option>
			</select><br><br>
		</div>
		
		<input type="submit" value="Add Post">
	</form>
</header>
 
{% endblock %}