<title>Welcome | GiveHub</title>

{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="title">GiveHub</h1>
    <h2 class="subtitle">Connecting people to charities.</h2>
    <p class="disclaimer">*we are not affiliated to any of these charities.</p>
    <button class="get-started button button-primary button-large">Give, Now!</button>
    
    <a class="scroll-down" href="#"></a>
</header>
    
<section>  
    <p class="h3"><strong>Get More</strong></p>
    <p>This is an examples of header styles that are used in Mustard UI.  We like to think of it as a starter CSS framework that actually looks good.  We'd love to hear your feedback!</p>
    <p>See more examples of <a href="https://mustard-ui.com/docs/header">CSS Header Styles</a>.</p>
</section>



{% if data %}
    {% for post in data %}
    <section class="section-secondary">
        <div class="col col-md-6">
            <div class="card">
                <h3 class="card-title">{{ post[2] }}</h3>
                <h6 class="card-title">by {{ post[1] }}, on {{ post[5] }}. tags: {{ post[4] }}</h6>
                {{ post[3] }}                
                <ul class="card-actions">
                    <li>
                        <form action="{{ url_for('like_post') }}" method="post">
                            <input type="hidden" name="post_id" value="{{ post[0] }}">
                            <button type="submit">Like</button>
                        </form>
                    </li>
                </ul>
                <h3 class="card-title">{{ post[6] }}</h3>
            </div>
        </div>
    </section>
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function() {

        $('.scroll-down, .get-started').on('click', function(e) {
            e.preventDefault()
            $('html, body').animate({
                scrollTop: $('section:first-of-type').offset().top
            }, 300)
        })

    })
</script>

{% endblock %}