
<title>Welcome | GiveHub</title>

{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="title">GiveHub</h1>
    <h2 class="subtitle">Connecting people to charities.</h2>
    <p class="disclaimer">*we are not affiliated to any of these charities.</p>
    <button class="get-started button button-primary button-large">Give, Now!</button>
    
    <a class="scroll-down" href="#"></a>
</header>
    
<section>  
    <p class="h3"><strong>Get More</strong></p>
    <p>This is an examples of header styles that are used in Mustard UI.  We like to think of it as a starter CSS framework that actually looks good.  We'd love to hear your feedback!</p>
    <p>See more examples of <a href="https://mustard-ui.com/docs/header">CSS Header Styles</a>.</p>
</section>

<section class="section-secondary">

    <section>
        <div class="row">
            <div class="col">
                <form id="filter-form" method="POST">
                    <label for="category">Category:</label>
                    <select id="category" name="category">
                        <option value="food">Food</option>
                        <option value="water">Water</option>
                        <option value="health">Health</option>
                        <option value="education">Education</option>
                        <option value="inclusion-equality">Inclusion & Equality</option>
                        <option value="climate">Climate</option>
                        <option value="poverty_alleviation">Poverty Alleviation</option>
                        <option value="animal_welfare">Animal Welfare</option>
                        <option value="anti-Inequality">Anti-Inequality</option>
                        <option value="trafficking">Trafficking</option>
                        <option value="slavery">Slavery</option>
                        <option value="other">Other</option>
                    </select>
                
                    <button type="submit">Filter</button>
                </form>
            </div>
            <div class="col">
                <form action="{{ url_for('search') }}" method="GET">
                    <label for="query">Search:</label>
                    <input type="text" name="query">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </section>

    {% if data %}
    <h1>
        {% if category %}
        {{ category }}
        {% endif %}
    </h1>
        {% for post in data %}
           
            <div class="col col-md-6">
                <div class="card">
                    <h3 class="card-title">{{ post[2] }}</h3>
                    by {{ post[1] }}, on {{ post[5] }}. tags: {{ post[4] }}
                    <br><br><hr><br>
                    {{ post[3] }}                
                    <ul class="card-actions">
                        <li>
                            <form action="{{ url_for('like_post') }}" method="post">
                                <input type="hidden" name="post_id" value="{{ post[0] }}">
                                <button type="submit">
                                    Like
                                </button>
                            </form>
                        </li>
                    </ul>
                    <h3 class="card-title">{{ post[6] }}</h3>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>

<script>
    $(document).ready(function() {

        $('.scroll-down, .get-started').on('click', function(e) {
            e.preventDefault()
            $('html, body').animate({
                scrollTop: $('section:first-of-type').offset().top
            }, 300)
        })

    })
</script>

{% endblock %}