:root {
    --primary_background: #fefffa !important;
    --primary_text_color: #343880 !important;
    --secondary_background: #343880 !important;
    --secondary_text_color: #fefffa !important;
    --accent_color: #f5c415 !important;
    --button_background: #d7443e !important;
    --button_color: #fff !important;
    --button_hover: #343880 !important;
}

body {
    color: var(--primary_text_color) !important;
    background-color: var(--primary_background);
}

nav {
    background-color: var(--secondary_background) !important;
    color: var(--secondary_text_color) !important;
}

.nav-links a.active {
    border-bottom: 4px solid var(--accent_color) !important;
}

.nav-logo a{
    color: var(--accent_color) !important;
}

.nav-links a{
    color: var(--accent_color) !important;
}

button {
    background-color: var(--button_background) !important;
    color: var(--button_color) !important;
    border: none !important;
}

header {
    background-color: var(--accent_color) !important;
}

.login_system_forms {
    padding: 2rem;
    background-color:var(--accent_color);
    border: 1px solid black;
    color: var(--primary_text_color);
}

.alert-danger {
    background-color: #f44336 !important;
}